<%- include('includes/head') %>

<h1>About us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros tellus, commodo non pretium vel, rutrum eget est. Morbi finibus, nisl nec viverra volutpat, quam nunc elementum tellus, a vulputate enim velit eu lacus. Phasellus scelerisque vehicula enim. Integer risus lorem, dignissim sit amet posuere et, molestie vitae nibh. Curabitur at ex justo. Cras ut eros ipsum. Morbi vulputate posuere sem vel faucibus. Suspendisse id commodo neque, eget porta augue. Sed varius imperdiet est sit amet cursus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros tellus, commodo non pretium vel, rutrum eget est. Morbi finibus, nisl nec viverra volutpat, quam nunc elementum tellus, a vulputate enim velit eu lacus. Phasellus scelerisque vehicula enim. Integer risus lorem, dignissim sit amet posuere et, molestie vitae nibh. Curabitur at ex justo. Cras ut eros ipsum. Morbi vulputate posuere sem vel faucibus. Suspendisse id commodo neque, eget porta augue. Sed varius imperdiet est sit amet cursus.</p>

<%- include('includes/footer') %>